body {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

button {
	background-color: #aaa;
	color: inherit;
	border: 2px solid black;
	padding: 10px;
	font: inherit;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  transition: color 0.5s, background-color 0.5s;
}

button#copy-button:hover {
  background-color: rgb(65, 65, 65);
  color: white;
}

input {
  font-size: 20px;
  padding: 10px 10px;
  margin: 10px 0 20px 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

label {
  margin-top: 60px;
  display: block;
  font-size: 20px;
}

.byline {
  margin-top: 60px;
}